@use '../global/variables' as *; // 导入变量文件
@use '../global/mixins' as *; // 导入 mixins 文件
@use 'sass:color'; // 放在所有规则之前

@include responsive-adjustments;


// 背景样式
body {
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

// 登录容器样式
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

// 登录框样式
.login-box {
    background: $input-bg-color;
    color: $text-color;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 32px 0 $box-shadow-color;
    width: 100%;
    max-width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;

    // 调用 mixin 进行响应式调整

    .avatar {
        margin: 0 auto 20px;
        width: 80px;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        color: $text-color;

        i {
            font-size: 48px;
        }
    }

    .form-group {
        position: relative;
        margin-bottom: 20px;

        label {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: $placeholder-color;
            font-size: 18px;
        }

        input[type="text"],
        input[type="password"] {
            width: 85%;
            padding: 10px 15px 10px 45px;
            background: $background-color;
            border: none;
            border-radius: 25px;
            color: $text-color;
            outline: none;
            font-size: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 0;

            &::placeholder {
                color: $placeholder-color;
            }
        }
    }

    .login-button {
        width: 100%;
        padding: 12px;
        background-color: $primary-color;
        border: none;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s;
        margin-top: 20px;

        &:hover {
            background-color: color.scale($primary-color, $lightness: -10%);
        }
    }

    .error-message {
        color: $error-color;
        font-size: 14px;
        margin-top: 10px;
        display: none;
    }

    footer {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        color: $placeholder-color;
    }
}

// 动画效果
@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.login-box.slide-out {
    animation: slideOut 0.5s forwards;
}
