// global/_variables.scss

// 主题颜色
$primary-color: #001F3F;
$secondary-color: #3A6D8C;
$third-color: #6A9AB0;
$forth-color: #EAD8B1;
$text-color: #333;
$background-color: #ffffff;
$placeholder-color: #bbb;
$error-color: #ff4f4f;
$input-bg-color: rgba(0, 0, 0, 0.05);
$box-shadow-color: rgba(31, 38, 135, 0.37);
